@import url('https://fonts.googleapis.com/css?family=Lato|Quicksand&display=swap');
:root {
	--primary-color: #80aebd;
	--secondary-color: #a9bcc2;
	--primary-light: #cbbc97;
  --secondary-light: #f9f9f9;
  --primary-text: #323433;
	--highlight: #8d6a9f;
  --danger-color: #bb342f;
  --success-color: #a7c4a0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Lato, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.3;
  text-align: center;
  color: var(--primary-text);

  margin: 0 auto;
}



/* === Reset === */
h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-light);
  text-decoration: none;
  font-weight: normal;
  font-size: 1rem;
}
a:visited {
  color: auto;
}
a:hover {
  color: var(--secondary-light);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}



/* === Custom === */
.container {
  padding-top: 45px;
  min-height: 85vh;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;

  font-size: .8rem;
  background: white;
  border: 1px solid var(--danger-color);
  color: var(--danger-color);
  text-align: center;

  transition: all .15s;
}
.delete-button:hover {
  background: var(--danger-color);
  color: var(--secondary-light);
}
.splash {
  min-height: 60vh;
  background: var(--primary-color);
}
.splash h1 {
  font-size: 4rem;
}
.head {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.btn {
  border: 1px solid var(--secondary-color);
  padding: 6px 12px;
  border-radius: 5px;
  text-decoration: none;
  background: #fff;
  color: var(--secondary-text);
  font-size: 1rem;

  transition: all .15s;
}
.btn:hover {
  background: var(--secondary-color);
  color: #fff;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.primary-color {
  color: var(--primary-color);
}
.secondary-color {
  color: var(--secondary-color);
}
.light-color {
  color: var(--primary-light);
}
.alert {
  padding: 1rem 0;
}
.alert-success,
.alert-danger {
  color: #fff;
}
.alert-success {
  background: var(--success-color);
}
.alert-danger {
  background: var(--danger-color);
}
.pattern-background {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%2380aebd' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.content-break {
  min-height: 30vh;
}



/* === Spinner === */
.spinner {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  border-top-color: #fff;

  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to { -webkit-transform: rotate(360deg) }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg) }
}



/* === Navigation === */
.nav {
  position: fixed;
  width: 100%;
  height: 45px;
  background: var(--primary-text);
  z-index: 99;
}

.nav nav {
  height: inherit;
}

.nav nav ul {
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav nav ul li a {
  border-bottom: none;
  padding-bottom: 5px;
}
.nav nav ul li a:hover {
  border-bottom: 1px solid var(--secondary-light);
}

.nav-icon {
  display: none;
}



/* === Header === */
.header {
  height: 100vh;
  width: 100vw;
  position:relative;
  overflow: hidden;

  background: linear-gradient( rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) ),
    url('http://s1.1zoom.net/big0/307/USA_Skyscrapers_Rivers_479965.jpg');
  background-size: cover;
  background-position: center center;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #f3f3f3;
}
/* .header:after {
  content: "";
  display: block;
  width: 100%;
  height: 200%;

  position: absolute;
  top: 0;
  left: 30%;

  background: rgba(255,0,0,0.2);
  transform: rotate(45deg);
} */

.header h1 {
  font-size: 3rem;
}

.header h2 {
  margin: 1rem 0;
  font-size: 5.5rem;
}

.social-icon {
  margin-right: 50px;
}
.social-icon:last-child {
  margin-right: 0;
}
.social-icon i {
  font-size: 2.5rem;
}



/* === About === */
.about {
  margin: 0 auto;
  height: 80vh;
  border: 25px solid black;
  padding: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



/* === Logos === */
.tech-logo {
  font-size: 2.5rem;
  margin-right: 150px;
}
.tech-logo:last-child {
  margin-right: 0;
}



/* === Portfolio === */
.portfolio-projects {
  border: 25px solid var(--primary-color);
}



/* === Project === */
.portfolio-project {
  padding: 2rem;
  border-bottom: 1px dashed var(--primary-color);

  display: flex;
  position: relative;
}
.portfolio-project:nth-child(even) {
  background: var(--secondary-light);
}
.portfolio-project:last-child {
  border-bottom: none;
}

.project-header h1 {
  font-weight: bold;
}
.project-header span {
  font-style: italic;
}

.project-img {
  position: relative;
}
.live,
.code {
  position: absolute;
  bottom: 10px;
}
.live {
  left: 35px;
}
.code {
  right: 35px;
}

.project-info {
  padding: 0 25px;

  flex: 2 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.project-header {
  display: flex;
  justify-content: space-between;
}

.project-desc,
.project-techs {
  text-align: left;
}

.project-tech {
  display: inline-block;
  padding: 7px 15px;
  margin-right: 5px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;

  transition: all .15s;
}
.project-tech:last-child {
  margin-right: 0;
}
.project-tech:hover {
  color: #fff;
  background: var(--secondary-color);
}

.edit-portfolio {
  position: absolute;
  bottom: 5px;
  right: 5px;

  font-size: .8rem;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  background: #fff;
  border-radius: 5px;
  padding: 3px 7px;

  transition: all .15s;
}
.edit-portfolio:hover {
  color: #fff;
  background: var(--secondary-color);
}



/* === Social === */
.social {
  min-height: 30vh;
}

.social-component-icon {
  margin-right: 150px;
}
.social-component-icon:last-child {
  margin-right: 0;
}
.social-component-icon:hover {
  color: var(--secondary-color);
}

.social-component-icon i {
  font-size: 3.8rem;
}



/* === Footer === */
.footer {
  padding: .25rem 0;
  background: black;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer h1 {
  color: var(--secondary-light);
}



/* === Form === */
.form {
  min-height: 95vh;
}

.form h1 {
  margin: 2rem;
  font-size: 1.2rem;
}

form {
  max-width: 1100px;
  margin: 3rem auto;
}

.form-group {
  margin: 1rem auto;
}
.form-group label {
  display: block;
  font-size: 14px;
}

.form-input {
  margin: 0 auto;
  width: 38%;
  outline: 0;
  border: 1px solid black;

  padding: 6px 12px;
  font-size: 1rem;
}
form small {
  display: block;
  font-size: 14px;
}

.textarea {
  font-family: inherit;
  font-size: 1rem;
  height: 125px;
}



/* === Contact === */
.contact-content {
  padding: 5rem auto;
}

.contact-p {
  padding: 0 125px;
}

.contact-email {
  padding: 2.5rem 0;
  border: 25px solid var(--primary-color);
}

.contact-form {
  margin: 0 auto;
}



/* === Resume === */
.resume {
  max-width: 900px;
  margin: 0 auto;
}
.resume-header {
  text-align: left;
  padding: 2rem 0;

  border-bottom: 10px solid var(--primary-color);
}
.resume-name {
  font-size: 4.25rem;
  margin-bottom: 1rem;
}
.resume-contact {
  display: flex;
  justify-content: space-between;
}

.resume-goals {
  padding-top: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

.resume-content {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-column-gap: 2rem;
}
.column-left {
  text-align: right;
  margin: 2rem 0;
}
.column-right {
  text-align: left;
  margin: 1rem;
}

.experience,
.education,
.employment {
  position: relative;
}

.employment,
.education,
.experience,
.skills {
  padding: 1rem 0;
}
.employment-dates,
.education-dates,
.experience-tech {
  font-size: .9rem;
}
.employment-header,
.education-header,
.experience-header {
  display: flex;
  justify-content: space-between;
  margin: .25rem 0;
}
.employment-desc li {
  margin-bottom: .25rem;
}
.employment-desc li:last-child {
  margin-bottom: 0;
}
.experience-header {
  margin-top: 0;
}
.experience-tech {
  margin-top: .5rem;
}
.experience-tech span {
  padding: 2px 5px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  margin-right: 5px;
}
.experience-tech span:last-child {
  margin-right: 0;
}
.skills ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
}






/* === Mobile === */
@media screen and (max-width: 600px) {
  /* === Custom === */
  .splash h1 {
    font-size: 2.25rem;
  }
  .head {
    font-size: 1.2rem;
  }

  /* === Nav === */
  .top-nav nav { display: none; }
  .nav-icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .top-nav.responsive {
    height: auto;
  }
  .top-nav.responsive .nav-icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .top-nav.responsive nav {
    display: block;
    margin-top: 45px;
  }
  .top-nav.responsive nav ul {
    flex-direction: column;
    background: #333;
  }
  .top-nav.responsive nav ul li {
    margin: .25rem 0;
    text-align: left;
  }

  /* === Header === */
  .header h1 {
    font-size: 1.4rem;
  }
  .header h2 {
    font-size: 2.5rem;
  }
  .social-icon {
    margin-right: 25px;
  }
  .social-icon:last-child {
    margin-right: 0;
  }
  .header .social-icon i {
    font-size: 1.4rem;
  }

  /* === About === */
  .tech-logos {
    margin: 1rem;
    font-size: 1.2rem;
  }

  /* === Logo === */
  .logo {
    margin: 2rem auto;
  }
  .tech-logo {
    font-size: 1.75rem;
    margin-right: 25px;
  }

  /* === Portfolio === */
  .portfolio-projects,
  .about {
    border-width: 5px;
  }
  .portfolio-project {
    flex-direction: column;
  }
  .portfolio-project img {
    margin-bottom: 1rem;
  }
  .project-info {
    padding: 0;
  }
  .live,
  .code {
    bottom: 25px;
  }
  .live {
    left: 50px;
  }
  .code {
    right: 50px;
  }
  .project-tech {
    margin-bottom: 5px;
  }
  .project-tech:last-child {
    margin-bottom: 0;
  }

  /* === Social === */
  .social {
    padding: 2rem auto;
  }
  .social-component-icon {
    margin-right: 25px;
  }
  .social-component-icon i {
    font-size: 2.8rem;
  }

  /* === Footer === */
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer h1,
  .footer h1 a,
  .footer .login-btn,
  .footer .logout-btn {
    font-size: .8rem;
  }

  /* === Form === */
  .form-input {
    width: 80%;
  }

  /* === Contact === */
  .contact-p {
    padding: 0 25px;
  }
  .contact-email {
    padding: 1rem 0;
    border-width: 5px;
  }
  .contact-content {
    margin: 2rem auto;
  }

  /* === Resume === */
  .resume {
    font-size: 85%;
    line-height: 1.25;
  }
  .resume-header {
    text-align: center;
  }
  .resume-name {
    font-size: 2.75rem;
    margin-bottom: 2rem;
  }
  .resume-contact {
    flex-direction: column;
  }
  .resume-goals {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .resume-content {
    grid-template-columns: 1fr;
  }
  .column-left {
    font-weight: bold;
    text-align: center;
    margin: .5rem 0;
  }
  .employment-header,
  .education-header,
  .experience-header {
    flex-direction: column;
    margin: 1rem 0;
  }
}